In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset = pd.read_excel('TRsFullDataUM_V2.0.xlsx')

In [3]:
dataset.head()

,TR Code,TR Creation Date/Time,TR Source Location Code,TR Dest Location Code,TR Gross Weight (KG),Nb of Ship Units,Origin Country,TR Source Location Postal Code,Origin City,OriginFull,...,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong,TR Pickup - Event Day,TR Gross Volume (M3),PUDate,Distance,ClusterDistance
0,T011.TRAII-10842068,2017-04-05 09:21:59.000,T011.ES2149,T011.ES - MILITARY GETAFE CAP,18240.0,8,SPAIN,11130,CHICLANA DE LA FRONTERA,"CHICLANA DE LA FRONTERA, 11130, SPAIN",...,Cluster443,40.305961,-3.732633,40.304909,-3.73108,4,11.599,2017-04-06,479.890710,479.935368
1,T011.TRAII-10820181,2017-02-24 07:45:46.999,T011.ES345,T011.ES193,250.0,2,SPAIN,11130,CHICLANA DE LA FRONTERA,"CHICLANA DE LA FRONTERA, 11130, SPAIN",...,Cluster444,36.605659,-6.219900,36.605659,-6.21990,5,0.938,2017-02-24,21.547656,21.547656
2,T011.TRAII-10812955,2017-02-10 15:31:38.999,T011.ES345,T011.ES193,200.0,1,SPAIN,11130,CHICLANA DE LA FRONTERA,"CHICLANA DE LA FRONTERA, 11130, SPAIN",...,Cluster444,36.605659,-6.219900,36.605659,-6.21990,5,0.863,2017-02-10,21.547656,21.547656
3,T011.TRAII-10822735,2017-03-01 14:59:41.999,T011.ES345,T011.ES193,300.0,1,SPAIN,11130,CHICLANA DE LA FRONTERA,"CHICLANA DE LA FRONTERA, 11130, SPAIN",...,Cluster444,36.605659,-6.219900,36.605659,-6.21990,3,1.199,2017-03-01,21.547656,21.547656
4,T011.TRAII-10824302,2017-03-03 16:30:08.999,T011.ES345,T011.ES193,20.0,1,SPAIN,11130,CHICLANA DE LA FRONTERA,"CHICLANA DE LA FRONTERA, 11130, SPAIN",...,Cluster444,36.605659,-6.219900,36.605659,-6.21990,5,0.157,2017-03-03,21.547656,21.547656

In [4]:
cols = ['TR Code','TR Creation Date/Time','TR Source Location Code','TR Dest Location Code',
       'TR Source Location Postal Code','TR Dest Location Postal Code','OriginFull','DestinationFull',
        'TR Pickup - Event Day', 'PUDate','Distance','ClusterDistance']
data_1 = dataset.drop(cols, axis = 1)

In [5]:
data_1.head()

,TR Gross Weight (KG),Nb of Ship Units,Origin Country,Origin City,OriginCluster,OriginClusterLat,OriginClusterLong,OriginLat,OriginLong,Dest Country,Dest City,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong,TR Gross Volume (M3)
0,18240.0,8,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,GETAFE,Cluster443,40.305961,-3.732633,40.304909,-3.73108,11.599
1,250.0,2,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990,0.938
2,200.0,1,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990,0.863
3,300.0,1,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990,1.199
4,20.0,1,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990,0.157

In [6]:
cols_2 = ['TR Gross Weight (KG)','Nb of Ship Units','TR Gross Volume (M3)']
data_2 = data_1.drop(cols_2, axis = 1)
data_2.head()

,Origin Country,Origin City,OriginCluster,OriginClusterLat,OriginClusterLong,OriginLat,OriginLong,Dest Country,Dest City,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong
0,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,GETAFE,Cluster443,40.305961,-3.732633,40.304909,-3.73108
1,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990
2,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990
3,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990
4,SPAIN,CHICLANA DE LA FRONTERA,Cluster488,36.421219,-6.14468,36.421219,-6.14468,SPAIN,EL PUERTO DE SANTA MARIA,Cluster444,36.605659,-6.219900,36.605659,-6.21990

In [7]:
data_2.shape[0]

81520

In [24]:
java_data = data_1.groupby(data_2.columns.tolist(), as_index = False).sum()
for i in java_data.loc[:, java_data.dtypes == 'object'].columns:
    java_data[i] = java_data[i].apply(lambda x: x.replace(',', '') if ',' in x else x)
java_data.head()

,Origin Country,Origin City,OriginCluster,OriginClusterLat,OriginClusterLong,OriginLat,OriginLong,Dest Country,Dest City,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong,TR Gross Weight (KG),Nb of Ship Units,TR Gross Volume (M3)
0,FRANCE,41 RUE DES EAUX,Cluster644,50.642894,3.048849,50.656050,3.083050,SPAIN,GETAFE,Cluster443,40.305961,-3.732633,40.304909,-3.73108,4.20,1,0.288
1,FRANCE,ADE,Cluster553,43.174030,-0.005286,43.138519,-0.028140,SPAIN,SEVILLA,Cluster441,37.388532,-6.007219,37.387890,-6.00198,55.00,11,1.247
2,FRANCE,ALBERT CEDEX,Cluster547,50.004781,2.650519,50.028725,2.650302,SPAIN,SEVILLA,Cluster441,37.388532,-6.007219,37.387890,-6.00198,3.02,2,0.019
3,FRANCE,ALBI,Cluster827,43.926201,2.148370,43.926201,2.148370,FRANCE,TOULOUSE,Cluster2,43.620605,1.394231,43.605728,1.44869,35710.00,40,152.579
4,FRANCE,AMBAZAC,Cluster637,45.957371,1.400960,45.957371,1.400960,GERMANY,AUGSBURG,Cluster19,48.370338,10.897880,48.370338,10.89788,70.00,6,0.180

In [26]:
java_data.to_csv('Aggregated data (for Q4-5).csv', index = False)

In [10]:
java_data.shape[0]

4011

In [11]:
test = java_data[['OriginLat','OriginLong','Origin City']]
test.groupby(test.columns.tolist()).count()

Empty DataFrame
Columns: []
Index: [(-32.8486213684082, -70.6864395141602, RINCONADA, LA), (36.4212188720703, -6.14468002319336, CHICLANA DE LA FRONTERA), (36.5298614501953, -6.2902398109436, CADIZ), (36.5309715270996, -6.19806003570557, PUERTO REAL), (36.5974082946777, -4.63649988174438, MIJAS COSTA), (36.6056594848633, -6.21990013122559, EL PUERTO DE SANTA MARIA), (36.6056594848633, -6.21990013122559, EL PUERTO DE SANTAMARÍA), (36.6056594848633, -6.21990013122559, PUERTO DE SANTA MARIA CADIZ), (36.6247711181641, -6.36896991729736, ROTA), (36.6909294128418, -6.13498020172119, JEREZ DE LA FRONTERA), (36.718318939209, -4.42015981674194, MALAGA), (36.8739395141602, -5.80479001998901, ESPERA), (37.1298484802246, -5.45378017425537, MORON DE LA FRONTERA), (37.2680511474609, -6.065110206604, LA PUEBLA DEL RIO), (37.2830085754395, -5.92833995819092, DOS HERMANAS), (37.335578918457, -6.13731002807617, BOLLULLOS DE LA MITACION), (37.3382987976074, -5.83982992172241, ALCALA DE GUADAIRA), (37.3382987976074, -5.83982992172241, ALCALA DE GUADAIRA - SEVILLA), (37.3726196289062, -6.07108020782471, BORMUJOS), (37.3772087097168, -5.74418020248413, MAIRENA DEL ALCOR), (37.384521484375, -6.0739598274231, GINES), (37.3878898620605, -6.00197982788086, SEVILLA), (37.3952598571777, -6.14383983612061, VILLANUEVA DEL ARISCAL), (37.4348907470703, -6.03850984573364, SANTIPONCE), (37.4822807312012, -5.95091009140015, SAN JOSE DE LA RINCONADA), (37.4928588867188, -5.9782600402832, LA RICONADA), (37.4928588867188, -5.9782600402832, LA RINCONADA), (37.6067008972168, -0.987990021705627, CARTAGENA), (37.7237510681152, -1.16891002655029, FUENTE ALAMO), (38.0938911437988, -3.63573002815247, LINARES), (38.9210891723633, -1.72309994697571, CHINCHILLA DE MONTE ARAGON), (38.9210891723633, -1.72309994697571, CHINCHILLA DE MONTEARAGON), (39.4686813354492, -0.376910001039505, VALENCIA), (39.4826889038086, -0.441989988088608, QUART DE POBLET), (39.5458106994629, -0.569980025291443, RIBA-ROJA DE TURIA), (39.8618316650391, -4.02522993087769, TOLEDO), (40.0059204101562, -3.57357001304626, ONTIGOLA), (40.0866584777832, -3.87215995788574, YUNCOS), (40.1035614013672, -3.76467990875244, ESQUIVIAS), (40.1057891845703, -3.64978003501892, SESENA NUEVO), (40.1223983764648, -3.8058500289917, YELES), (40.1230087280273, -3.84589004516602, ILLESCAS), (40.23583984375, -3.77335000038147, PARLA), (40.2411193847656, -3.69941997528076, PINTO), (40.2834396362305, -3.79575991630554, FUENLABRADA), (40.3000106811523, -3.44067001342773, ARGANDA DEL REY), (40.3049087524414, -3.73108005523682, GETAFE), (40.3049087524414, -3.73108005523682, GETAFE/MADRID), (40.3049087524414, -3.73108005523682, GETAGE), (40.3280487060547, -3.76524996757507, LEGANES), (40.3514289855957, -3.82428002357483, ALCORCON), (40.3821182250977, -4.21029996871948, CHAPINERIA), (40.3977890014648, -1.21951901912689, CAUDE), (40.4060897827148, -3.8786199092865, BOADILLA DEL MONTE), (40.408088684082, -3.36406993865967, TORRES DE LA ALAMEDA), (40.420280456543, -3.70577001571655, MADRID), (40.4262084960938, -3.56399011611938, COSLADA), (40.459228515625, -3.47643995285034, TORREJON DE ARDOZ), (40.4806785583496, -3.37345004081726, ALCALA DE HENARES), (40.5986595153809, -3.71163988113403, TRES CANTOS), (40.6658592224121, -3.76996994018555, COLMENAR VIEJO), (41.3632202148438, 2.10518002510071, HOSPITALET DE LLOBREGAT), (41.3856086730957, 2.16872000694275, BARCELONA), (41.39457, 2.03282, MIÑANO), (41.4504890441895, 2.24492001533508, BADALONA), (41.5150299072266, 2.12714004516602, BARBERA DEL VALLES), (41.5183601379395, 2.36174988746643, VILASSAR DE DALT), (41.5900917053223, 2.5902099609375, CANET DE MAR), (41.6518287658691, -0.881139993667603, ZARAGOZA), (41.9045715332031, -1.72321999073029, TARAZONA), (41.9650001525879, 2.83934998512268, LA CREUETA), (41.9808082580566, 2.8187301158905, GIRONA), (42.2574310302734, 3.10648989677429, EMPURIABRAVA), (42.2972106933594, -7.872389793396, SAN CIBRAO DAS VINAS), (42.2972106933594, -7.872389793396, SAN CIBRAO DE LAS VINAS), (42.4850692749023, 2.75, CERET), (42.6849594116211, -2.94781994819641, MIRANDA DE EBRO), (42.7345695495605, -1.59516000747681, TORRES DE ELORZ), (42.7667007446289, -1.70000004768372, GALAR), (42.8422698974609, -2.68358993530273, VITORIA), (42.8511810302734, -2.73966002464294, JUNDIZ), (42.9167785644531, -2.64646005630493, MINANO MAYOR), (42.9233894348145, -2.66887998580933, MINANO MENOR), (43.0520286560059, 1.51016998291016, CAZAUX), (43.0628509521484, -2.49471807479858, ARRASATE), (43.0966300964355, -0.046000000089407, LOURDES), (43.1068382263184, -0.429619997739792, ARUDY), (43.1135597229004, 1.61252999305725, PAMIERS), (43.1248588562012, 6.00978994369507, LA GARDE), (43.1385192871094, -0.0281399991363287, ADE), (43.175350189209, 0.0197800006717443, LOUEY), (43.1913909912109, -0.214059993624687, BENEJACQ), (43.1948013305664, -2.89945006370544, AGUIRRE ARRIGORRIAGA), (43.2132911682129, -0.00740000000223517, AZEREIX), (43.2185516357422, -2.81716990470886, USANSOLO), (43.2298698425293, 0.0731900036334991, TARBES), (43.2373390197754, 6.07209014892578, CUERS), (43.2515296936035, 1.67841005325317, MAZERES), (43.280891418457, -2.86337995529175, ZAMUDIO), (43.2933692932129, 5.3713002204895, MARSEILLE), ...]

[801 rows x 0 columns]

In [27]:
java_data.iloc[615,:]

Origin Country                  FRANCE
Origin City               CORNEBARRIEU
OriginCluster                 Cluster2
OriginClusterLat               43.6206
OriginClusterLong              1.39423
OriginLat                      43.6499
OriginLong                      1.3257
Dest Country                     SPAIN
Dest City                 RINCONADA LA
DestinationCluster          Cluster478
DestinationClusterLat         -32.8486
DestinationClusterLong        -70.6864
DestLat                       -32.8486
DestLong                      -70.6864
TR Gross Weight (KG)               725
Nb of Ship Units                    12
TR Gross Volume (M3)             15.24
Name: 615, dtype: object